<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <aside class="left-sidebar" th:fragment="sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <div class="mx-auto mt-4 bg-cover">
            <a href="/home" class="text-nowrap logo-img">
              <img src="/assets/images/logos/logo.png" alt="" style="width: 145px;" />
            </a>
          </div>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
              <span class="hide-menu">儀表板</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/home" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu">首頁</span>
              </a>
            </li>
            
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
              <span class="hide-menu">資料管理</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/data/listing/list/query" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu">資料查詢</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/data/listing/download" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu">資料下載</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/data/listing/fetch" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu">資料更新</span>
              </a>
            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
              <span class="hide-menu">頁面管理</span>
            </li>
            <li class="nav-small-cap ms-3">
              <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
              <span class="hide-menu">關於我們</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/setting/about/title/list" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:planet-3-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu">標題</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/setting/about/about/list?typeId=2" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:planet-3-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu">關於我們</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/setting/about/about/list?typeId=3" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:planet-3-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu">優勢</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
  </body>
</html>
